.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #8e543c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: 'Courgette', cursive;

}

.button:hover {background-color: #8e543c
}

.button:active {
    background-color: #778e6d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border-radius: 2px;
}